<div class="container min-vh-100">
  <div class="product text-center" *ngFor="let prod of fiterProduct">
    <div class="img w-50 m-auto " >
      <img [src]="prod.image" alt="product-image" class="img-fluid w-50">
    </div>
    <h3>{{ prod.title }}</h3>
    <p>{{ prod.category }}</p>
    <p>{{ prod.description }}</p>
    <div class="ratings">Rating: {{ prod.rating.rate }} <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
      class="fa fa-star"></i> </div>
    <p class="col-2 m-auto pt-2">Price {{ prod.price | customPipe }}</p>
    <div class="card-buttons d-flex justify-content-between align-items-center mt-2 mb-2">
      <button class="btn btn-dark" routerLink="/product">Back</button>
      <button class="btn btn-danger" (click)="addToCart(prod)">Add To Cart</button>
    </div>
  </div>
  <ngx-spinner type="ball-scale-multiple"></ngx-spinner>

</div>
