<footer class="bg-dark text-center text-white noselect">
  <div class="container p-3 pb-0">
    <h3 class="contact-me p-3">Contact me:</h3>
    <section class="mb-4">
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/mahmoudgaber07/" target="_blank" role="button"
        ><i class="fa-brands fa-linkedin fs-5"></i></a>

      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/mahmoudgaber07" target="_blank" role="button"
      ><i class="fa-brands fa-github-square fs-5"></i></a>

      <a class="btn btn-outline-light btn-floating m-1" href="https://www.behance.net/mahmoudgaber16" target="_blank" role="button"
      ><i class="fa-brands fa-behance-square fs-5"></i></a>

      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/MahmoudGaber07/" target="_blank" role="button"
        ><i class="fa-brands fa-facebook fs-5"></i></a>

      <a class="btn btn-outline-light btn-floating m-1" href = "mailto: mahmoudgaber94@gmail.com" target="_blank" role="button"
      ><i class="fa-solid fa-envelope fs-5"></i></a>
    </section>
  </div>
  <div class="text-center p-3">
    {{copyRight}}
  </div>
</footer>
