<div class="container about mt-5 mb-5">
  <div class="row">
    <div class="col-md-4">
      <h2 class="about noselect">About Me</h2>
    </div>
    <div class="col-md-8">
      <p class="info fs-5 text-wrap w-100 noselect">I'm a junior frontend developer with almost two years of experience in projects of web development.
        My expertise is focused on React,Angular,Bootstrap,Sass, jQuery,JavaScript,and responsive coding.
        I'm seeking a challenging position where the smart move positively affects a lot of people and societies.
        I'm an achiever, self-motivated with the ability to plan and execute.
      </p>
      <button class="btn btn-dark p-3">Download Resume</button>
    </div>
  </div>
</div>
