<div class="container-fluid hero">
  <div class="row pt-5">
    <div class="heroInfo col-6 d-flex align-items-center justify-content-center">
      <div class="d-block">
        <h1 class="name noselect">{{name}}</h1>
        <p class="job noselect">{{job}}</p>
        <button class="btn btn-dark p-2 noselect" href="mailto: mahmoudgaber94@gmail.com">Contact Me</button>
      </div>
    </div>
    <div class="heroImages col-6 text-center">
      <img src="{{heroImg}}" class="img-fluid noselect" alt="...">
    </div>
  </div>
</div>
